[build]
  command = "make all"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/blog/api/:splat"
  status = 200

[[redirects]]
  from = "/post/*"
  to = "/post/:splat/index.html"
  status = 200

[[redirects]]
  from = "/search"
  to = "/search/index.html"
  status = 200
